@using static PruebaInterRapidisimo.Enums.UtilEnums
@model IEnumerable<PruebaInterRapidisimo.Models.Estudiante>

@{
    ViewData["Title"] = "Lista de Estudiantes";
}



<h1> Administrador de Estudiantes </h1>

<p>
    <a asp-action="Create" class="btn btn-primary"> Crear Estudiante </a>
</p>

<table class="table" id="contenedor1">
    <thead>
        <tr>
            @* <th>@Html.DisplayNameFor(model => model.Id)</th> *@
            <th>@Html.DisplayNameFor(model => model.Identificacion)</th>
            <th>@Html.DisplayNameFor(model => model.Nombres)</th>
            <th>@Html.DisplayNameFor(model => model.Apellidos)</th>
            <th>@Html.DisplayNameFor(model => model.ProgramaCreditos)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="9" class="text-center">No hay estudiantes registrados.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    @* <td>@Html.DisplayFor(modelItem => item.Id)</td> *@
                    <td>@Html.DisplayFor(modelItem => item.Identificacion)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombres)</td>
                    <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProgramaCreditos)</td>
                    <td>
                        <div class="p-2 d-flex justify-content-between">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Detalles</a>
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info">Actualizar</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
